{%- if include.data -%}
  <div class="{{ include.data.type }}">

    {%- if include.data.icon -%}
      <div class="{{ include.data.type }}__icon">
        {%- include {{ include.data.icon }} -%}
      </div>
    {%- endif -%}

    <div class="{{ include.data.type }}__text">

      {%- if include.data.title -%}
        <h3 class="{{ include.data.type }}__title">
          {{ include.data.title }}
        </h3>
      {%- endif -%}

      {%- if include.data.description -%}
        <div class="{{ include.data.type }}__description">
          {{ include.data.description | markdownify }}
        </div>
      {%- endif -%}

    </div>

  </div>
{%- endif -%}
