<header class="header" role="banner">
  <div class="header__logo">
    <a href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
    </a>
  </div>

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign paths = site.header_nav_page_paths | default: default_paths -%}

  {%- if paths -%}
    <div class="header__nav-toggle">
      <a href="#">
        Menu
      </a>
    </div>
    <div class="header__nav">
      <ul>
        {%- for path in paths -%}
          {%- assign item = site.pages | where: "path", path | first -%}
          {%- if item.title -%}
            <li>
              <a href="{{ item.url | relative_url }}">
                {{ item.title | escape }}
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
</header>
