{%- if include.data and include.data.src -%}
  {%- capture sizes -%}
    {%- if include.data.sizes -%}
      sizes="{{ include.data.sizes | join: ", " }}"
    {%- endif -%}
  {%- endcapture -%}

  {%- capture srcset -%}
    {%- if include.data.srcset -%}
      srcset="
      {%- for srcset_item in include.data.srcset -%}
        {{ srcset_item[1] }} {{ srcset_item[0] }}{% unless forloop.last %}, {% endunless %}
      {%- endfor -%}
      "
    {%- endif -%}
  {%- endcapture -%}

  <img
    alt="{{ include.data.alt }}"
    {{ sizes }}
    {{ srcset }}
    src="{{ include.data.src }}"
  />
{%- endif -%}
