{%- if include.data -%}
  <div class="{{ include.data.type }}" id="{{ include.data.id }}">

    {%- if include.data.category -%}
      <h2 class="{{ include.data.type }}__category">
        {{ include.data.category }}
      </h2>
    {%- endif -%}

    {%- if include.data.title -%}
      <h3 class="{{ include.data.type }}__title">
        {{ include.data.title }}
      </h3>
    {%- endif -%}

    {%- if include.data.description -%}
      <p class="{{ include.data.type }}__description">
        {{ include.data.description }}
      </p>
    {%- endif -%}

  </div>
{%- endif -%}
