/* Header */

.header {
  padding-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  @media (min-width: 48em) {
    align-items: flex-end;
  }

  @media (min-width: 80em) {
    padding-top: 4em;
  }
}

.header--overlay {
  color: $color-white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; 
}

.header__logo {
  padding-left: 5vw;
  position: relative;
  z-index: 2;

  .header--nav-active & {
    color: $color-white;
  }

  svg {
    width: auto;
    height: 1.125em;
    fill: currentColor;
    display: block;

    @media (min-width: 60em) {
      height: 1.5em;
    }
  }
}

.header__nav-toggle {
  padding-right: 5vw;
  position: relative;
  z-index: 2;

  .header--nav-active & {
    color: $color-white;
  }

  @media (min-width: 48em) {
    display: none;
  }

  svg {
    width: auto;
    height: 1.5em;
    fill: currentColor;
    display: block;

    path {
      transform-origin: 50% percentage(1/3);
      transition: opacity 300ms, transform ease-in-out 300ms;
    }

    .path-2 {
      opacity: 0;
    }

    .header--nav-active & {
      .path-1,
      .path-4 {
        opacity: 0;
      }

      .path-2 {
        opacity: 1;
        transform: rotate(45deg);
      }

      .path-3 {
        transform: rotate(-45deg);
      }
    }
  }
}

.header__nav {
  width: 100%;
  height: 100vh;
  color: $color-white;
  background-color: $color-black;
  padding: calc(10vw + 1.5em) 5vw 5vw;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
  opacity: 0;
  transition: opacity $transition-duration, left 0s $transition-duration;

  .header--nav-active & {
    left: 0;
    opacity: 1;
    transition: opacity $transition-duration;
  }

  @media (min-width: 48em) {
    width: auto;
    height: auto;
    color: inherit;
    background-color: transparent;
    padding: 0 5vw 0 0;
    overflow: initial;
    position: static;
    top: auto;
    left: auto;
    opacity: 1;
    transition: none;
  }

  ul {
    @extend %list-style-none;
    margin: 0;

    @media (min-width: 48em) {
      display: flex;
    }
  }

  a {
    font-size: 2em;
    padding: 0.25em 0;
    display: inline-block;

    @media (min-width: 48em) {
      font-size: 1.125em;
      padding: 0;
      margin-left: 2rem;
    }
  }
}
