/* Hero */

.hero {
  height: 80vh;
  min-height: 20em;
  max-height: 150vw;
  color: $color-white;
  background-color: $color-black;
  display: flex;
  align-items: flex-end;
  position: relative;

  @media (min-width: 40em), (orientation: landscape) {
    max-height: 75vw;
  }
}

.hero__media {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &::before {
    content: '';
    background-image: linear-gradient(to bottom, rgba($color-black, 0.5) 2.5vw, rgba($color-black, 0) 12.5%, rgba($color-black, 0) 50%, rgba($color-black, 0.7));
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @media (min-width: 48em) {
      background-image: linear-gradient(to bottom, rgba($color-black, 0) 50%, rgba($color-black, 0.7));
    }
  }

  img {
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
  }
}

.hero__text {
  padding: 0 5vw;
  margin-bottom: 5vw;
  position: relative;
  z-index: 1;
}

.hero__title {
  max-width: 6em;
  font-size: 2em;
  line-height: 1.125;
  margin: 0 0 0.125em;

  @media (min-width: 60em) {
    font-size: 4em;
  }
}

.hero__description {
  max-width: 18em;
  font-size: 0.875em;
  line-height: 1.5;

  @media (min-width: 60em) {
    font-size: 1.125em;
  }

  a {
    border-bottom: 1px solid currentColor;
    display: inline-block;
  }

  p {
    margin-bottom: 0.75em;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
