/* Home - About */

.home-about {
  padding: 5vw 0;

  @media (min-width: 48em) {
    display: flex;
    align-items: center;
  }
}

.home-about__media {
  padding: 0 5vw;

  @media (min-width: 48em) {
    width: 50%;
    padding-right: 1.25vw;
  }

  img {
    width: 100%;
    max-width: none;
    display: block;
  }
}

.home-about__text {
  padding: 0 5vw;

  @media (min-width: 48em) {
    width: 50%;
    padding-left: 1.25vw;
  }
}

.home-about__title {
  font-size: 2em;
  line-height: 1;
  padding: 2rem 0 0;
  margin: 2rem 0 0.75em;
  position: relative;

  @media (min-width: 48em) {
    margin-top: 0;
  }

  @include scale-value('font-size', 2em, 3em, 30em, 48em);
  @include scale-value('font-size', 2em, 4em, 48em, 90em);

  &::before {
    content: '';
    width: 4rem;
    border-top: 0.25rem solid $color-gold;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.home-about__description {
  line-height: 1.5;
  margin-bottom: 1.5em;

  @include scale-value('font-size', 1em, 1.125em, 30em, 48em);
  @include scale-value('font-size', 1em, 1.25em, 48em, 90em);

  h1 {
    font-size: inherit;
    margin: 0;
    display: inline-block;
  }
}

.home-about__more {
  line-height: 1.5;

  @include scale-value('font-size', 1em, 1.125em, 30em, 48em);
  @include scale-value('font-size', 1em, 1.25em, 48em, 90em);

  a {
    border-bottom: 1px solid currentColor;
    display: inline-block;
  }
}
