/* Home - About */

.home-about {
  padding: 5vw 0;

  @media (min-width: 48em) {
    display: flex;
    align-items: center;
  }
}

.home-about__media {
  padding: 0 5vw;

  @media (min-width: 48em) {
    width: 50%;
    padding-right: 1.25vw;
  }

  img {
    width: 100%;
    max-width: none;
    display: block;
  }
}

.home-about__text {
  padding: 0 5vw;

  @media (min-width: 48em) {
    width: 50%;
    padding-left: 1.25vw;
  }
}

.home-about__title {
  font-size: 2em;
  line-height: 1;
  margin: 0 0 0.75em;

  @media (min-width: 60em) {
    font-size: 4em;
  }
}

.home-about__description {
  line-height: 1.5;

  @media (min-width: 60em) {
    font-size: 1.25em;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
