/* Home - About */

.home-about__title {
  font-size: 2em;
  margin: 0;

  @media (min-width: 60em) {
    font-size: 4em;
  }
}

.home-about__description {
  line-height: 1.5;

  @media (min-width: 60em) {
    font-size: 1.25em;
  }
}
