/* Industries Nav */

.industries-nav {
  display: none;

  @media (min-width: 60em) {
    display: block;
  }

  ul {
    @extend %list-style-none;
    margin: 0;
  }

  a {
    font-size: 3.375em;
  }
}
