/* Section Header */

.section-header {
  text-align: center;
  padding: 0 5vw;
  margin: 4em 0 2em;

  @media (min-width: 80em) {
    margin-top: 5vw;
  }

  &.section-header--about-who,
  &.section-header--contact {
    margin-bottom: 4em;

    @media (min-width: 80em) {
      margin-bottom: 5vw;
    }
  }
}

.section-header__title {
  font-size: 2.5em;
  line-height: 1.125;
  padding: 2rem 0 0;
  margin: 0 0 1.5rem;
  position: relative;

  @media (min-width: 60em) {
    font-size: 4em;
  }

  .section-header--contact & {
    font-size: 2em;
    padding: 0 0 2rem;
    margin-bottom: 2rem;

    @media (min-width: 60em) {
      font-size: 3.375em;
    }
  }

  &::before {
    content: '';
    width: 4rem;
    border-top: 0.25rem solid $color-gold;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    .section-header--contact & {
      top: auto;
      bottom: 0;
    }
  }
}

.section-header__description {
  max-width: 32em;
  line-height: 1.5;
  margin: auto;

  @media (min-width: 60em) {
    font-size: 1.5em;
  }

  > * {
    margin: 0 0 0.75em;
  }

  .section-header--contact & {
    font-size: 1.5em;
    line-height: 1.25;

    @media (min-width: 60em) {
      font-size: 3.375em;
    }

    > *:first-child a {
      border-bottom: 2px solid currentColor;
      display: inline-block;

      @media (min-width: 60em) {
        border-bottom-width: 3px;
      }
    }
  }
}
